/*
 * Copyright (c) 2024 Caspar Friedrich <c.s.w.friedrich@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/f4/stm32f412Xe.dtsi>
#include <st/f4/stm32f412r(e-g)tx-pinctrl.dtsi>

/ {
	model = "WeAct Studio STM32F412 64-Pin Core Board";
	compatible = "weact,coreboard-f412re";

	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &usart1;
		zephyr,flash = &flash0;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,uart-mcumgr = &usart1;
	};

	keys {
		compatible = "gpio-keys";
		key_c13: key_c13 {
			gpios = <&gpioc 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "C13";
		};
	};

	leds {
		compatible = "gpio-leds";
		led_b2: led_b2 {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "B2";
		};
	};

	aliases {
		led0 = &led_b2;
		sw0 = &key_c13;
		mcuboot-led0 = &led_b2;
		mcuboot-button0 = &key_c13;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&clk_lse {
	status = "okay";
};

&pll {
	div-m = <8>;
	mul-n = <384>;
	div-p = <4>;
	div-q = <8>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(96)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <2>;
	status = "okay";
};

&rng {
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_sda_pb7 &i2c1_scl_pb6>;
	pinctrl-names = "default";
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_mosi_pa7 &spi1_miso_pa6 &spi1_sck_pa5 &spi1_nss_pa4>;
	pinctrl-names = "default";
	status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_rx_pa10 &usart1_tx_pa9>;
	pinctrl-names = "default";
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_rx_pa3 &usart2_tx_pa2 &usart2_rts_pa1 &usart2_cts_pa0>;
	pinctrl-names = "default";
	status = "okay";
};

&sdmmc1 {
	pinctrl-0 = <&sdio_d0_pc8 &sdio_d1_pc9 &sdio_d2_pc10
	             &sdio_d3_pc11 &sdio_ck_pc12 &sdio_cmd_pd2>;
	pinctrl-names = "default";
	status = "disabled";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dp_pa12 &usb_otg_fs_dm_pa11>;
	pinctrl-names = "default";
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			reg = <0x00000000 DT_SIZE_K(48)>;
			label = "mcuboot";
			read-only;
		};

		slot0_partition: partition@c000 {
			reg = <0x0000c000 DT_SIZE_K(224)>;
			label = "image-0";
		};

		slot1_partition: partition@84000 {
			reg = <0x00084000 DT_SIZE_K(224)>;
			label = "image-1";
		};

		storage_partition: partition@fc0000 {
			reg = <0x00fc0000 DT_SIZE_K(16)>;
			label = "storage";
		};
	};
};
