# SPDX-License-Identifier: Apache-2.0

# Kernel
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# Drivers
CONFIG_CLOCK_CONTROL=y
CONFIG_CONSOLE=y
CONFIG_GPIO=y
CONFIG_PINCTRL=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
